<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 150px;">
      <div class="card-body">
          <h5 class="card-title">Digite o valor</h5>



        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text text-primary">$</span>
          </div>
          <input type="text" class="form-control" aria-label="Input valor do dollar" [(ngModel)]="this.valorDigitado">
          <div class="input-group-append btn-group">
            <!-- <select class="custom-select" id="currency" #currencyselect (change)="currence.use(currencyselect.value)">      
                          <option *ngFor="let moeda of moedaSelecionada" [value]="moeda">
                            <h4>{{moedas[moedaSelecionada.moeda]}}</h4>
                          </option>
                        </select> -->
            <button class="btn btn-outline-primary btn-block" type="button" id="button-addon2" (click)="getMoedas()">
              <i class="fas fa-sync"></i> Convert
            </button>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="col-md-4" *ngIf="moedas">
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].name}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].high}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].low}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].varBid}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].pctChange}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].bid}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].ask}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].timestamp}}</h5>
    <h5 class="text-primary">{{moedas[moedaSelecionada.moedaUm].create_date}}</h5>
  </div>
  <div class="col-md-4 text-dark">
    {{this.resultDollar | number: 2}}
  </div>
</div>