<div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text text-primary">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fas fa-sync"></i> Convert</button>
            </div>
        </div>
    </div>   
    <div class="col-md-4">
        <h5 class="text-primary">{{moedas.name}}</h5>
        <!-- <h5 class="text-primary">{{moedas.USD.name}}</h5>
        <h5 class="text-primary">{{moedas.USD.high}}</h5>
        <h5 class="text-primary">{{moedas.USD.low}}</h5>
        <h5 class="text-primary">{{moedas.USD.varBid}}</h5>
        <h5 class="text-primary">{{moedas.USD.pctChange}}</h5>
        <h5 class="text-primary">{{moedas.USD.bid}}</h5>
        <h5 class="text-primary">{{moedas.USD.ask}}</h5>
        <h5 class="text-primary">{{moedas.USD.timestamp}}</h5>
        <h5 class="text-primary">{{moedas.USD.create_date}}</h5> -->
    </div>     
</div>